/* Font @ import */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:600,400,300);
@import url(https://fonts.googleapis.com/css?family=Arvo:400,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat);

/* Box Model Hack */

* {
    -moz-box-sizing: border-box;
    /* Firexfox */
    -webkit-box-sizing: border-box;
    /* Safari/Chrome/iOS/Android */
    box-sizing: border-box;
    /* IE */
}

/* Clear fix hack */

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear {
    clear: both;
}

.alignright {
    float: right;
    padding: 0 0 10px 10px;
    /* note the padding around a right floated image */
}

.alignleft {
    float: left;
    padding: 0 10px 10px 0;
    /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
    background-color: #ffffff;
    color: #000000;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

a {
    text-decoration: none;
}

p {
    line-height: 1.4em;
}

/******************************************
/* LAYOUT
/*******************************************/

.logo {
    font-size: 48px;
    font-weight: 800;
}

header {
    background: #2c5785;
    overflow: hidden;
    height: 50px;
    position: fixed;
    top: 0;
    transition: top 0.2s ease-in-out;
    width: 100%;
    z-index: 1000;

}

header .logo {
    color: #ffffff;
    float: left;
}

header nav {
    float: left;
}

header nav ul li {
    display: inline-block;
    margin: 0 0 0 11px;
    font-size: 1em;
}

header nav ul li a {
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
}

header nav ul li a:hover {
    color: #c3dfea;
    font-family: 'Open Sans', sans-serif;
}

.hamburger {
    display: none;
}

.fixed {
    display: inline-block;
}

.navUp {
    top: -60px;
}


#homeBacker {
    height: 500px;
    background: url(../images/header.jpg) no-repeat top center #131e27;
    background-color: #ffffff;
    background-size: cover;
}

h1 {
    color: #2c5785;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 2.4em;
    text-align: center;
    line-height: 1.6em;
    text-transform: uppercase;
}

h2 {
    color: #2c5785;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1.8em;
    text-transform: uppercase;
}

h3 {
    color: #348abb;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1.4em;
}

h4 {
    color: #348abb;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1.2em;
}

h5 {
    color: #317811;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1.1em;
    line-height: 1.2em;
}

footer {
    background: #c3dfea;
    padding: 65px 0 45px;
    text-align: center;
}

footer ul li {
    display: inline-block;
    list-style: none;
    margin: 0 26px 75px;
}

footer p {
    font-size: .5em;
    color: #ffffff;
    text-align: right;
}

#tradition {
    background: url(../images/tradition.jpg) no-repeat top center #131e27;
    background-color: #ffffff;
    padding: 50px 0px 30px 0px;
}

#tradition p {
    font-size: 1.3em;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

#enjoy {
    background: url(../images/enjoy.jpg) no-repeat top center #131e27;
    background-color: #ffffff;
    padding: 70px 0 50px 0;
}

#enjoy p {
    font-size: 1.2em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

#find {
    background: url(../images/map.jpg) no-repeat top center #131e27;
    background-color: #ffffff;
    padding: 10px 0 30px 0;
}

#find p {
    font-size: 1.2em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

#contact {
    background-color: #f8f3e4;
    padding: 10px 0 40px 0;
}

#contact p {
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.copyright {
        font-size: 40em;
}

form {
    width: 100%;
}

.dottedLine {
    margin: 0 auto;
    left: 0;
    bottom: 0;
    height: 1px;
    width: 100%;
    border-bottom: 1px solid #e4f7fd;
    padding: 0 4px 4px 0;
}

.grid,
.fullwidth {
    padding: 0 40px 0 40px;
}

img {
    max-width: 100%
}

.kcSvg {
    width: 50%;
}

.submit {
    margin: 20px 0 10px 0;
}

.submitButton {
    font-size: 1.1em;
    color: #348abb;
    font-family: 'Arvo', serif;
    height: 40px;
    padding: 5px 40px 5px 40px;
    border-radius: 3px;
    background: #ffffff; 
    border: 1px solid #ffffff;
    margin:auto;
    display:block;
    float: left;
}

.submitButton:hover {
    background: #c3dfea;
    color: #348abb;
    /*border: 1px solid #2c5785;*/
}

fieldset {
    border: 0;
    width:100%;
}

#name,
#email {
    border: 0;
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
}

.text1 {
    width: 100%;
    border: 0;
    height: 200px;
    padding: 10px 10px 10px 10px;
    resize: none;
}

/******************************************
/* CHEESE CHOOSER
/*******************************************/

div.wrapper{  
    position: relative; /* important(so we can absolutely position the description div */  
    display: inline-block;
        background-color: orange; 
}

.paddingBottom {
    padding-bottom: 20px;
}
    
.floatRight {
    float: right;
    width: 100%;
}

.floatLeft {
    float: left;
    width: 100%;
}

/*div.description {  
    position:absolute; /* absolute position (so we can position it where we want) 
  /*  top: 0px; /* position will be on bottom  
    display: none;
    background-color: orange; 
}*/ 

.chooseHeading {
    font-size: 2em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-align: center;
    color: #ffffff;  
    padding-bottom: 8px;
    text-transform: uppercase;
}

.chooseCopy {
    font-size: 1.1em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    text-align: center;
    color: #ffffff;  
}

div.descriptionOrange {  
    position: absolute; /* absolute position (so we can position it where we want)*/  
    top: 0px;
    bottom: 0;
    right: 0;
    left: 0;  
    display: none;
    background-color: #de7b05;  
    padding: 30px 30px 0 30px; 
    max-width: 100%;
    margin: auto;
}  

div.descriptionRed {  
    position: absolute; /* absolute position (so we can position it where we want)*/  
    top: 0px;
    bottom: 0;
    right: 0;
    left: 0;  
    display: none;
    background-color: #953939; 
    padding: 30px 30px 0 30px; 
    max-width: 100%;
    margin: auto;
}  

div.descriptionBlue {  
    position: absolute; /* absolute position (so we can position it where we want)*/  
    top: 0px; /* position will be on bottom */  
    display: none;
    background-color: #4a7097; 
    padding: 60px 30px 0 30px; 
    max-height: 100%;
    max-width: 100%;
}   

div.descriptionGreen {  
    position: absolute; /* absolute position (so we can position it where we want)*/  
    top: 0px; /* position will be on bottom */  
    display: none;
    background-color: #357c15;  
    padding: 60px 30px 0 30px; 
    max-height: 100%;
    max-width: 100%;
}  

/******************************************
/* LOCATIONS
/*******************************************/

.fa-angle-down {
    padding-left: 2px;
}

.stateButton {
    font-size: 1.1em;
    color: #ffffff;
    text-align: center;
    font-family: 'Arvo', serif;
    height: 40px;
    width: 200px;
    padding: 7px 40px 3px 40px;
    border-radius: 3px;
    background: #4e9c2c; 
    border: 1px solid #ffffff;
    margin:auto;
    display:block;
    float: left;
    cursor: pointer;
    overflow: hidden;
}

.stateButton:hover {
    background: #acd29c;
    color: #ffffff;
    /*border: 1px solid #2c5785;*/
}

#albionClick {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1.1em;
    line-height: 1.2em;
}

#vicArea strong {
    color: #3fb909;
    font-weight: 600;
}

#nswArea strong {
    color: #3fb909;
    font-weight: 600;
}

#victoria,
#nsw {
    padding: 0 0 10px 0;
}

#vicArea,
#nswArea {
    display: none;
    padding: 40px 0 10px 10px;
}

.albion,
.epping,
.hcross,
.kealba,
.lalor,
.preston,
.stAlbans,
.sunWest {
    display: none;
    padding: 0 0 5px 0px;
    font-size: .92em;
    line-height: 1.4em;
}

.rockdale,
.liverpool,
.casula {
    display: none;
    padding: 0 0 5px 0px;
    font-size: .92em;
    line-height: 1.4em;
}


/******************************************
/* GRID SETTING
/*******************************************/

.grid {
    font-family: 'zero-width';
    font-size: 0;
    max-width: 1000px;
    /* change to suit */
    margin: 0 auto;
    /* to center grid */
}

.grid > * {
    font-family: 'Open Sans', sans-serif;
    /* 
     * if you are using a different base font-size then change this to be the same
     * if you don't care about ie8 you can change this to
     */
    font-size: 16px;
}

.full-width,
.one-half,
.one-quarter,
.two-quarters,
.three-quarters,
.one-third,
.two-thirds,
.one-fifth,
.two-fifths,
.three-fifths,
.four-fifths,
.one-twelth,
.two-twelths,
.three-twelths,
.four-twelths,
.five-twelths,
.six-twelths,
.seven-twelths,
.eight-twelths,
.nine-twelths,
.ten-twelths,
.eleven-twelths {
    display: inline-block;
    vertical-align: top;
    /*border: 1px solid #ccc;*/
}

.full-width {
    display: block;
    padding: 0px 10px 0px 10px;
    /*border: 1px solid #ccc;*/
}

.one-twelth {
    width: 1%;
}

.two-twelths {
    width: 16.66667%;
}

.one-fifth {
    width: 20%;
}

.one-quarter,
.three-twelths {
    width: 25%;
}

.four-twelths {
    width: 33.3%;
    display: inline-block;
    padding: 0 10px 0 10px;
}

.two-fifths {
    width: 40%;
}

.five-twelths {
    width: 41.66667%;
}

.one-half,
.two-quarters,
.six-twelths {
    width: 50%;
    display: inline-block;
    padding: 20px 10px 10px 10px;
}

.seven-twelths {
    width: 58.33333%;
}

.three-fifths {
    width: 60%;
}

.two-thirds,
.eight-twelths {
    width: 66.66667%;
}

.three-quarters,
.nine-twelths {
    width: 75%;
}

.four-fifths {
    width: 80%;
}

.ten-twelths {
    width: 83.33333%;
}

.eleven-twelths {
    width: 91.66667%;
}

/******************************************
/* SINGLE COLUMN RESPONSIVE MOBILE
/*******************************************/

@media screen and (max-width: 768px) {
    
/*.hamburger {
    display: inline-block;
    color: #033048;
    padding: 3px 7px 3px 7px;
    background: white;
    float: left;
    margin: 13px 0 14px 0;
    cursor: pointer;
} */
    
header nav ul li {
    display: inline-block;
    margin: 0 0 0 10px;
    font-size: .8em;
}
        
body {
        width: 100%;
    }
.four-twelths {
        max-width: 100%;
    }
    
header, grid {
        padding 0;
    }
    
.one-half {
    display: block;
    margin: 0 auto;
    width:100%;
    clear: both;
    float: none;

    }
    
.img {
    width: 100%;
    margin: 0 auto;

    }
    
div.wrapper{  
    position: relative; /* important(so we can absolutely position the description div */  
    display: inline-block;
    max-width:100%;
        background-color: orange; 
}

.paddingBottom {
    padding-bottom: 20px;
}
    
.floatRight {
    float: none;
    width: 100%;
}

.floatLeft {
    float: none;
    width: 100%;
}
    
div.descriptionOrange {  
    position: absolute; /* absolute position (so we can position it where we want)*/  
    top: 0px;
    bottom: 0;
    right: 0;
    left: 0;  
    display: none;
    background-color: #de7b05;  
    padding: 30px 30px 0 30px; 
    max-width: 100%;
    margin: auto;
}

div.descriptionRed {  
    position: absolute; /* absolute position (so we can position it where we want)*/  
    top: 0px; /* position will be on bottom */  
    display: none;
    background-color: #953939; 
    padding: 40px 20px 0 20px;
    max-height: 100%;
    max-width: 100%;
    margin: 0 auto;
    clear: both;
}  

div.descriptionBlue {  
    position: absolute; /* absolute position (so we can position it where we want)*/  
    top: 0px; /* position will be on bottom */  
    display: none;
    background-color: #4a7097; 
    padding: 40px 20px 0 20px;
    max-height: 100%;
    max-width: 100%;
    margin: 0 auto;
    clear: both;
}   

div.descriptionGreen {  
    position: absolute; /* absolute position (so we can position it where we want)*/  
    top: 0px; /* position will be on bottom */  
    display: none;
    background-color: #357c15;  
    padding: 40px 20px 0 20px;
    max-height: 100%;
    max-width: 100%;
    margin: 0 auto;
    clear: both;
}  

    
#enjoy {
    background: url(../images/enjoy.jpg) no-repeat top center #131e27;
    background-color: #ffffff;
    padding: 70px 0 50px 0;
    margin: 0 auto;
    clear: both;
}
    
    
.kcSvg {
    width: 40%;
}

/*@media only screen and (max-width: 480px) {
        body {
            width: 100%;
        }
        .container {
            width: 100%;
        }
        .logo {
            font-size: 1.5em;
            margin-left: 8%
        }
        header nav ul li {
            display: inline-block;
            margin: 0 10px 0 10px;
            font-size: .9em;
        }
        #home {
            height: 460px;
            padding-top: 10px;
            width: 100%;
        }
        #home h2 {
            font-size: 1.5em;
            text-align: center;
            margin: 80px 0 60px;
            margin-left: 10%;
            margin-right: 10%
        }
        h3 {}
        footer p {
            font-size: .2em;
        }

